h1{
	color:CornflowerBlue;
	text-decoration: underline;
}
h2{
	color:CornflowerBlue ;
	text-decoration: underline;
}
p{
	border:round;
	border-color;violet;
}
.lel{
	border-color:violet;
	border-style: solid;
	border-radius: 40px;
	position: absolute;
}